<!-- footer start -->

<footer class='row footer'>
  <div class="container-fluid">
    <div class='col-md-3'>
      <h4>About DataCite</h4>
      <ul>
      {% for link in site.data.links.about_links %}
        <li><a href='{{ link.url }}'>{{ link.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class='col-md-3'>
      <h4>Services</h4>
      <ul>
      {% for link in site.data.links.services_links %}
        <li><a href='{{ link.url }}'>{{ link.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class='col-md-3'>
      <h4>Resources</h4>
      <ul>
      {% for link in site.data.links.resources_links %}
        <li><a href='{{ link.url }}'>{{ link.name }}</a></li>
      {% endfor %}
      </ul>

      <h4>Community</h4>
      <ul>
      {% for link in site.data.links.community_links %}
        <li><a href='{{ link.url }}'>{{ link.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class='col-md-3'>
      <h4 class="share">Contact us</h4>
      <a href='mailto:support@datacite.org' class="share">
        <i class='fa fa-envelope fa-2x'></i>
      </a>
      <a href='https://blog.datacite.org' class="share">
        <i class='fa fa-rss fa-2x'></i>
      </a>
      <a href='https://twitter.com/datacite' class="share">
        <i class='fa fa-twitter fa-2x'></i>
      </a>
      <a href='https://www.linkedin.com/company/datacite' class="share">
        <i class='fa fa-linkedin fa-2x'></i>
      </a>
      <ul class="share">
      {% for link in site.data.links.contact_links %}
        <li><a href='{{ link.url }}'>{{ link.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- footer end -->
