---
title: DataCite Blog
type: Blog
author:
- tcruse
- lrueda
- kgarza
- mfenner
date: '2017-05-17'
accession_number: MS-25-1785
doi: 10.5438/0000-00SS
date_modified: 2017-01-09
---
<div class="container-fluid">
  <div class="row">
    <div class='col-md-9'>
      <div class="search-wide">
        <form action="/index.html" method="get" id="search-form" class="form-horizontal" role="form" data-site-url="<%= ENV['SITE_URL'] %>" data-search-url="<%= data.site.search_url %>">
          <div class="input-group">
            <input type="text" id="query" name="query" placeholder="Search blog" class="form-control">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-primary hidden-xs">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-md-9'>
      <div class="post-list" id="content"></div>
    </div>
    <div class='col-md-3'>
      <div id="tags"></div>
    </div>
  </div>
</div>
